.vscode/**
.vscode-test/**
.github/**
.git/**
.gitignore
.gitattributes
.eslintrc.json
.eslintcache
.claude/**
node_modules/**
src/**
out/test/**
**/*.map
**/*.log
**/*.ts
!**/*.d.ts
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
.vsixmanifest
*.vsix
