.vscode-test
.vscode
.git
.gitignore
dist
out/test
src/test
src/**/*.ts
!src/**/*.d.ts
**/*.map
**/*.log
**/tsconfig.json
**/.eslintrc.json
node_modules/.bin
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/test/**
node_modules/**/tests/**
